// colors
$black: #000;
$blue-lt: #d3eeec;
$blue: #00708F;
$blue-dark: #11365a;
$gray-lt: #ebeef4;
$gray: #d8dce1;
$green: #00825f;
$mint: #75cbc6;
$slate: #4d4d4f;
$teal: #009698;
$text: #4d4d4f;
$yellow: #ffbc42;
$white: #fff;





// typography
$font: 'Open Sans', sans-serif;
$font-serif: 'Noto Serif', serif;

// font weights
// change the values based off of what is defined in typekit settings for your font
$regular: 400;
$semibold: 600;
$bold: 700;

// Animations
//- Cubic Bezier Curves
//- starndard curve: applies to growing and shrinking material, among other property changes.
$standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
//- Decelerated Curve: during deceleration, elements may scale up either in size (to 100%) or opacity (to 100%). In some cases, when elements enter the screen at 0% opacity, they may slightly shrink from a larger size upon entry.
$decelerated-curve: cubic-bezier(0.0, 0.0, 0.2, 1);
//- Accelerated Curve: accelerates at the beginning of the animation and may scale down in either size (to 0%) or opacity (to 0%). In some cases, when elements leave the screen at 0% opacity, they may also slightly scale up or down in size.
$accelerated-curve: cubic-bezier(0.4, 0.0, 1, 1);
//- Sharp Curve: used by exiting elements that may return to the screen at any time
$sharp-curve: cubic-bezier(0.4, 0.0, 0.6, 1);

//- Durations: these are the recommended animation durations depending on device and whether the object is entering or exiting
$desktop-enter: 200ms;
$desktop-exit: 150ms;
$tablet-enter: 293ms;
$tablet-exit: 254ms;
$mobile-enter: 225ms;
$mobile-exit: 195ms;
