@import "cart_responsive";
@import "cart";
@import "categories_responsive";
@import "categories";
@import "checkout_responsive";
@import "checkout";
@import "contact_responsive";
@import "contact";
@import "main_styles";
@import "product_responsive";
@import "product";
@import "responsive";

.header {
    .shopping_cart {
        button {
            background: none;
            border: none;
            color: #767676;
            font-size: 16px;
            font-weight: 600;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;

            &:hover {
                color: #1b1b1b;
            }
        }
    }
} 

.product_extra {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 36px;
}

.product_content {
    button {
        position: relative;
        width: 178px;
        height: 61px;
        border: solid 2px #1b1b1b;
        background: #FFFFFF;
        cursor: pointer;
        margin-top: 20px;
        overflow: hidden;
    }
}

footer.footer {
    position: relative;
}

.Cart {
    position: absolute;
    top: 0;
    padding-top: 130px;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    transform: translateY(-100%);
    -webkit-transition: transform .3s linear;
    -o-transition: transform .3s linear;;
    transition: transform .3s linear;;
    z-index: 5;

    &.open {
        position: fixed;
        transform: translateY(0);
        -webkit-box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);
    }

    .cart_item_quantity {
        .product_quantity {
            b {
                display: block;
                width: 30px;
                height: 57px;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                color: #1b1b1b;
                text-align: left;
                padding-left: 9px;
                line-height: 57px;
            }
        }
    }
}

.home {
    height: 362px !important;
}

.LoadingElement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 150;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


.ThemeDark {
    background: #1b1b1b;

    .header_container {
        background: #1b1b1b;
        .logo {
            a {
                color: #fff;
            }
        }
        .cartButton {
            color: #fff;
        }    
    }

    .LoadingElement {
        fill: #fff !important;
    }

    .products {
        background: #1b1b1b;
        .product {
            .product_price,
            .product_title {
                a {
                    color: #fff;
                }
            }
            .product_content {
                button.newsletter_button {
                    border: solid 2px #ffffff;
                    background: #1b1b1b;
                    span {
                        color: #ffffff;
                    }
                    &::after {
                        background: #ffffff;
                    }
                    &:hover {
                        span {
                            color: #1b1b1b;
                        }
                    }
                }
            }
        }

    }
}
