@import "cart_responsive";
@import "cart";
@import "categories_responsive";
@import "categories";
@import "checkout_responsive";
@import "checkout";
@import "contact_responsive";
@import "contact";
@import "main_styles";
@import "product_responsive";
@import "product";
@import "responsive";

.header {
    .shopping_cart {
        button {
            background: none;
            border: none;
            color: #767676;
            font-size: 16px;
            font-weight: 600;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;

            &:hover {
                color: #1b1b1b;
            }
        }
    }
} 

.product_extra {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 36px;
}

.product_content {
    button {
        position: relative;
        width: 178px;
        height: 61px;
        border: solid 2px #1b1b1b;
        background: #FFFFFF;
        cursor: pointer;
        margin-top: 20px;
        overflow: hidden;
    }
}

footer.footer {
    position: relative;
}

.Cart {
    position: absolute;
    top: 0;
    padding-top: 130px;
    height: 700px;
    width: 100%;
    overflow: scroll;
    transform: translateY(-100%);
    -webkit-transition: transform .3s linear;
    -o-transition: transform .3s linear;;
    transition: transform .3s linear;;
    z-index: 5;

    -webkit-box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 11px 15px 0px rgba(0,0,0,0.5);

    &.open {
        transform: translateY(0)
    }

    .cart_item_quantity {
        .product_quantity {
            b {
                display: block;
                width: 30px;
                height: 57px;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                color: #1b1b1b;
                text-align: left;
                padding-left: 9px;
                line-height: 57px;
            }
        }
    }
}


